@use '../../../styles/abstracts' as *;
.ourServices {
  flex: 1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__Content {
    max-width: 648px;
    width: 100%;
    padding: 48px;
    box-shadow: 0 2px 15px $neutral-700;
    border-radius: 32px;
    border: 1px solid $neutral-300;
    display: flex;
    flex-direction: column;
  }

  &__Header {
    display: flex;
    justify-content: space-between;
  }

  &__Header h2 {
    font-weight: $font-semibold;
    color: $neutral-800;
    font-size: $font-2xl;
    line-height: 114.99999999999999%;
  }

  &__Header p {
    font-weight: $font-normal;
    color: $neutral-600;
    font-size: $font-md;
    line-height: 114.99999999999999%;
  }

  &__Body {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;
    width: 100%;
  }

  &__Card {
    cursor: pointer;
    max-width: 162px;
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid $neutral-300;
    box-shadow: 0 0.5px 1px $neutral-700;
  }

  &__p {
    font-weight: $font-medium;
    color: $neutral-600;
    font-size: $font-md;
    line-height: 114.99999999999999%;
  }

  &__Card--Active {
    border: 2px solid $purple-700;
    box-shadow: 0 5px 15px $neutral-700;
  }

  &__P--active {
    font-weight: $font-semibold;
    color: $neutral-800;
    font-size: $font-md;
    line-height: 114.99999999999999%;
  }

  &__Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
