.ourServices{
    flex: 1;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourServicesContent{
    max-width: 648px;
    width: 100%;
    padding: 48px;
    box-shadow: 0 2px 15px #19213D1A;
    border-radius: 32px;
    border: 1px solid #F1F2F9;
    display: flex;
    flex-direction: column;
}

.ourServicesHeader{
    display: flex;
    justify-content: space-between;
}

.ourServicesHeader h1{
    font-weight: 600;
    color: #170F49;
    font-size: 24px;
    line-height: 114.99999999999999%;
}

.ourServicesHeader p{
    font-weight: 400;
    color: #6F6C8F;
    font-size: 16px;
    line-height: 114.99999999999999%;
}

.ourServicesBody{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;
    width: 100%;
}

.ourServicesCard{
    max-width: 162px;
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #F1F2F9;
    box-shadow: 0 .5px 1px #19213D0A;
}

.ourServicesCard p{
    font-weight: 500;
    color: #6F6C8F;
    font-size: 16px;
    line-height: 114.99999999999999%;  
}

.selected{
    border: 2px solid #4A3AFF;
    box-shadow: 0 5px 15px #4A3AFF0F;
}

#ourServicesCardText{
    font-weight: 600;
    color: #170F49;
    font-size: 16px;
    line-height: 114.99999999999999%;
}

.ourServicesFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}