.thankWrapper{
    flex:1;
    background: #ffffff;//white
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankContainer {
    max-width: 698px;
    width: 100%;
    padding: 44px;
    box-shadow: 0 1px 8px #19213D1A;//$neutral-700: #514F6E;//box-shadow
    border-radius: 32px;
    border: 1px solid #F1F2F9;//$neutral-300: #F1F2F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.thankContainer h2 {
    font-weight: 600;
    font-size: 24px;
    line-height:114.99999999999999%;
    color: #392cc2;//$purple-700: #4A3AFF;
    text-align: center;
}

.thankContainer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6F6C8F;//$neutral-600: #6F6C8F;
    text-align: center;
}  

.card{
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;//white
  }

  .heading {
    margin-bottom: 15px;
    text-align: center;
  }


  .row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #6F6C8F;//$neutral-600: #6F6C8F;
  }
