@use '../../../styles/abstracts' as *;
.thankWrap {
  flex: 1;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__Cont {
    max-width: 698px;
    width: 100%;
    padding: 44px;
    box-shadow: 0 1px 8px $neutral-700;
    border-radius: 32px;
    border: 1px solid $neutral-300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__Cont h2 {
    font-weight: $font-semibold;
    font-size: $font-2xl;
    line-height: 114.99999999999999%;
    color: $purple-700;
    text-align: center;
  }

  &__Cont p {
    font-weight: $font-normal;
    font-size: $font-md;
    line-height: 150%;
    color: $neutral-600;
    text-align: center;
  }

  &__card {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
  }

  &__heading {
    margin-bottom: 15px;
    text-align: center;
  }

  &__row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: $font-normal;
    color: $neutral-600;
  }
}
