$purple-700: #4A3AFF;
$purple-600: #7265fa;
$purple-500: #8C82FF;
$purple-200: #D2CEFF;


$white: #ffffff;
$neutral-800: #170F49;//color
$neutral-700: #514F6E;//box-shadow
$neutral-600: #6F6C8F;
$neutral-500: #A0A3BD;
$neutral-400: #D9DBE9;//border
$neutral-300: #F1F2F9;
$neutral-200: #F1F0FB;//background-color

//#514F6E