.sidebarContainer {
  display: flex;
  flex-direction: column;
  max-height: 746px;
  max-width: 348px;
  width: 100%;
  height: 100%;
  gap: 94px;
  background-color: #F1F0FB;
  border-radius: 24px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.logoContainer {
    padding: 40px 74.68px 24px 74.68px;
    width: 100%;
}

.logoImage{
    width: 100%;
    height: auto;
}

.stepsContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.step{
    padding: 11px 13px;
    border: .5px solid #D2CEFF;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: #A0A3BD;
}

.stepNumber{
    background: linear-gradient(to top left, #4A3AFF 50%, #8C82FF 100%);
    color: #FFFFFF;
}

.h3{
    max-width: 194px;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: #170F49;
}

.description{
    max-width: 194px;
    font-weight: 400;
    font-size: 12px;
    line-height:150%;
    color: #6F6C8F;
}

.bar {
    width: 2.5px;
    height: 40px;
    background-color: #D2CEFF;
    margin-left: 16px;
}

.footer{
    width: 100%;
    max-height: 114px;
    padding: 40px 36.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerH3{
    max-width: 194px;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: #170F49;
}   

.footerP{
    max-width: 194px;
    font-weight: 400;
    font-size: 12px;
    line-height:150%;
    color: #6F6C8F;
}

.footerLogo{
    width: 100%;
    height: 100%;
    max-width: 34px;
    max-height: 34px;
}