@use "../../styles/abstracts" as *;
.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 746px;
  max-width: 348px;
  width: 100%;
  height: 100%;
  gap: 94px;
  background-color: $neutral-200; //$neutral-200: #F1F0FB;//background-color
  border-radius: 24px;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__logo {
    padding: 40px 74.68px 24px 74.68px;
    width: 100%;
  }

  &__logoImage {
    width: 100%;
    height: auto;
  }

  &__stepsCont {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__section {
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }

  &__step {
    padding: 11px 13px;
    border: 0.5px solid $neutral-400; //$neutral-400: #D9DBE9;//border
    border-radius: 8px;
    background-color: $white; //white
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: $neutral-500; //$neutral-500: #A0A3BD;
  }

  &__step--active {
    background: linear-gradient(
      to top left,
      $purple-700 50%,
      $purple-600 100%
    ); //$purple-700: #4A3AFF;,$purple-600: #7265fa;
    color: $white; //white
  }

  &__progress {
    width: 2.5px;
    height: 40px;
    background-color: $purple-200; //$purple-200: #D2CEFF;
    margin-left: 16px;
  }

  &__progLine {
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to top left,
      $purple-700 50%,
      $purple-600 100%
    ); //$purple-700: #4A3AFF;$purple-600: #7265fa;
    transition: height 0.5s ease;
  }

  &__progLine--completed {
    height: 100%;
  }

  &__title {
    max-width: 194px;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: $neutral-800; //$neutral-800: #170F49;//color
  }

  &__description {
    max-width: 194px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $neutral-600; //$neutral-600: #6F6C8F;
  }

  &__footer {
    width: 100%;
    max-height: 114px;
    padding: 40px 36.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footTitle {
    max-width: 194px;
    font-weight: 600;
    font-size: 16px;
    line-height: 114.99999999999999%;
    color: $neutral-800; //$neutral-800: #170F49;
  }

  &__footText {
    max-width: 194px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $neutral-600; //$neutral-600: #6F6C8F;
  }

  &__footIcon {
    width: 100%;
    height: 100%;
    max-width: 34px;
    max-height: 34px;
  }
}
