@use '../../styles/abstracts' as *;

.dashboardLayoutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

.multiStepFormSection {
  width: fit-content;
  padding: 24px;
  background-color: white; //WHITE
  border-radius: 24px;
  box-shadow: 0 2px 15px $neutral-800; //$neutral-800: #170F49;
}

.multiStepFormSectionH2 {
  max-width: 177px;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: $purple-700; //$purple-700: #4A3AFF;
  font-weight: 500;
  font-size: $font-md; // font-size: 16px;
  line-height: 114.99999999999999%;
  font-style: medium;
  color: white; //white
}

.dashboardLayout {
  max-width: 1475px;
  width: 100%;
  max-height: 778px;
  height: 100%;
  display: flex;
  padding: 16px;
  border-radius: 32px;
  box-shadow: 0 12px 20px -4px $neutral-700; //$neutral-700: #514F6E;
  background-color: white; //white
}
