.personalInfoSection {
  flex: 1;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalInfoContainer {
  width: 100%;
  max-width: 660px;
  padding: 48px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  border: 1px solid #f1f2f9;
  box-shadow: 0 8px 8px 0 #19213d0f;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: end;
}

.personalInfoForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.personalInfoTitle {
  font-size: 24px;
  font-weight: 600;
  color: #170f49;
  line-height: 114.99999999999999%;
  margin-bottom: 32px;
}
.personalInfoInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.personalInfoInputGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.personalInfoLabel {
  font-size: 14px;
  font-weight: 500;
  color: #170f49;
  line-height: 114.99999999999999%;
}

.personalInfoInput {
  padding: 16px;
  border: 1px solid #d9dbe9;
  border-radius: 14px;
  font-size: 14px;
  color: #d9dbe9;
}

.continueButton {
  width: fit-content;
  padding: 16px 40.5px;
  background: linear-gradient(to top left, #4A3AFF 50%, #8C82FF 100%);
  color: #ffffff;
  border: none;
  border-radius: 12px;
  line-height: 114.99999999999999%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
