@use '../abstracts' as *;
html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: popins, sans-serif;
  background-color: $neutral-200;
  color: $neutral-800;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}
