@use '../abstracts' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
