@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-semibold;
    line-height: 1.5;
    color: $neutral-800;
}

h1{font-size: $font-3xl;}
h2{font-size: $font-2xl;}
h3{font-size: $font-xl;}

p{
    font-weight: $font-normal;
    color: $neutral-600;
}