@use "../../../styles/abstracts" as *;

.nav {
  max-width: 1475px;
  width: 100%;
  background-color: white; 
  display: flex;
  gap: 21px;
  align-items: center;
  box-shadow: 0px 2px 15px $neutral-700;
  border-radius: 32px;
  padding: 40px 32px;

  &__logo {
    max-width: 56px;
    max-height: 56px;
    height: 100%;
    width: 100%;
  }

  &__textLogo {
    width: 100%;
    height: 100%;
    max-width: 287.43px;
    max-height: 59.925880432128906px;
    background-color: $neutral-200;
    padding: 18.96px;
    border-radius: 32px 27.72px;
  }
}
