.nav {
  max-width: 1475px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  gap: 21px;
  align-items: center;
  box-shadow: 0px 2px 15px #19213d1a;
  border-radius: 32px;
  padding: 40px 32px;
}

.textLogoContainer {
  width: 100%;
  height: 100%;
  max-width: 287.43px;
  max-height: 59.925880432128906px;
  background-color: #e0e2f0;
  padding: 18.96px;
  border-radius: 32px 27.72px;
}

.logo {
  max-width: 56px;
  max-height: 56px;
  height: 100%;
  width: 100%;
}

.textLogo {
  width: 232px;
  height: 22px;
}
